@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image: url("/images/mobile-background.png");
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0px;
    z-index: 1000;
}

nav.sticky{
  padding: 10px 0px;
  background: #000;
}

  nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 10px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper .logo a{
    text-decoration: none;
  }
  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  nav ul li input{
    padding-top: 3em;
  }
  .nav-links li a:hover{
    opacity: 0.5;
  }
  .nav-links .mobile-item{
    display: none;
  }

  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content{
    margin-top: 1em;
    background: #f0f0f0;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
  .content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content .row header{
    color: #000;
    font-size: 20px;
    font-weight: 500;
  }
  .content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: rgb(99, 96, 96);
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    opacity: 0.5;
  }
  .wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  @media screen and (max-width: 970px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3A3B3C;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 18px;
    }

    nav ul li i{
        font-size: 25pt;
    }

    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 18px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background: #3A3B3C;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 16px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 16px;
    }
  }
  nav input{
    display: none;
  }

  .body-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60%;
    color: #fff;    
  }

  .body-text .title{
    flex: 1;
    text-align: center;
    font-size: 20pt;
    font-weight: 500;
    padding: 20px 40px;
  }

  .body-text .sub-title{
    flex: 1;
    text-align: center;
    font-weight: 300;
  }

  .button-shop-now{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }

  .content-1{
    display: none;
  }

  .button-shop-now button{
    color: #f2f2f2;
    border-color: #f2f2f2;
  }

  .button-shop-now button:hover{
    background-color: #96d27b;
  }

  @media only screen and (min-width:375px){
    body{
      background-image: url("/images/mobile-background.png");
    }
  }

  @media only screen and (min-width: 576px){
    .body-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 38%;
        color: #fff;    
      }
    
      .body-text .title{
        flex: 1;
        text-align: center;
        font-size: 30pt;
        font-weight: 500;
        padding: 20px 40px;
      }
    
      .body-text .sub-title{
        flex: 1;
        text-align: center;
        font-weight: 300;
        font-size: 16pt
      }

      .content-1{
        margin-top: 20%;
      }
  }

  @media only screen and (min-width: 768px) {
    body{
      background-image: url("/images/1920px-background.png");
  }

    .body-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 35%;
        color: #fff;    
      }
    
      .body-text .title{
        flex: 1;
        text-align: center;
        font-size: 30pt;
        font-weight: 500;
        padding: 20px 40px;
      }
    
      .body-text .sub-title{
        flex: 1;
        text-align: center;
        font-weight: 300;
        font-size: 16pt
      }

      nav .wrapper{
        position: relative;
        max-width: 1300px;
        padding: 10px 0px;
        height: 70px;
        line-height: 70px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
  }

  @media only screen and (min-width: 992px) {


    .nav-links li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        padding: 20px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
      }

      nav ul li{
        padding-top: 1em;
      }

      nav ul li i{
        font-size: 22pt;
    }

    .body-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 26%;
        color: #fff;    
      }
    
      .body-text .title{
        flex: 1;
        text-align: center;
        font-size: 40pt;
        font-weight: 500;
        padding: 20px 40px;
      }
    
      .body-text .sub-title{
        flex: 1;
        text-align: center;
        font-weight: 300;
        font-size: 20pt
      }
  }

  @media only screen and (min-width: 1200px) {
    .nav-links li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        padding: 20px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
      
      nav ul li{
        padding-top: 1em;
      }

      nav ul li i{
        font-size: 22pt;
    }

    .body-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 23%;
        color: #fff;    
      }
    
      .body-text .title{
        flex: 1;
        text-align: center;
        font-size: 40pt;
        font-weight: 500;
        padding: 20px 40px;
      }
    
      .body-text .sub-title{
        flex: 1;
        text-align: center;
        font-weight: 300;
        font-size: 20pt
      }
  }


  @media only screen and (min-width: 1400px) {
    .body-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 22%;
        color: #fff;    
      }
    
      nav ul li{
        padding-top: 1em;
      }

      nav ul li i{
        font-size: 22pt;
    }

      .body-text .title{
        flex: 1;
        text-align: center;
        font-size: 40pt;
        font-weight: 500;
        padding: 20px 40px;
      }
    
      .body-text .sub-title{
        flex: 1;
        text-align: center;
        font-weight: 300;
        font-size: 20pt
      }
  }

  @media only screen and (min-width: 1920px) {


    .nav-links li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
        padding: 20px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
      }

    .body-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 15%;
        color: #fff;    
      }

      nav ul li{
        padding-top: 1em;
      }

      nav ul li i{
        font-size: 22pt;
    }
    
      .body-text .title{
        flex: 1;
        text-align: center;
        font-size: 40pt;
        font-weight: 500;
        padding: 20px 40px;
      }
    
      .body-text .sub-title{
        flex: 1;
        text-align: center;
        font-weight: 300;
        font-size: 20pt
      }
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:60%;
    padding: 20px 40px;
  }

  .content-1{
    flex: 1;
  }

  .content-2{
    flex: 1;
    margin-top: 1em;
    color: #379e18;
    font-weight: 700;
    font-size: 23pt;
    text-align: center;
  }

  .content-3{
    flex: 1;
    color: #000;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 0px 40px;
    margin-top: 1em;
  }

  .content-4{
    flex: 1;
    color: rgb(37, 37, 37);
    font-weight: 300;
    font-size: 10pt;
    text-align: center;
    padding: 0px 40px;
    margin-top: 1em;
  }

  .content-5{
    margin-top: 1em;
    text-align: center;
  }

  @media only screen and (min-width: 768px) {
    .content-1{
        display: block;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 40%;
        padding: 20px 40px;
      }

      .content-2{
        text-align: center;
      }

      .content-5{
        text-align: center;
      }
  }
  
  @media only screen and (min-width: 992px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 22%;
        padding: 20px 40px;
      }

      .content-2{
        text-align: center;
      }

      .content-5{
        text-align: center;
      }
  }

  @media only screen and (min-width: 1200px) {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 23%;
        padding: 10px 40px;
      }

      .content-1{
        margin-left: 10%;
     }

     .complex-container{
        margin-left: 5%;
        margin-top: 10%;
     }

      .content-2{
        font-size: 40pt;
        text-align: left;
        padding: 20px 40px;
      }

      .content-3{
        font-size: 23pt;
        text-align: left;
      }

      .content-4{
        text-align: left;
      }

      .content-5{
        font-size: 16pt;
        text-align: left;
        padding: 5px 40px;
      }
  }

  @media only screen and (min-width: 1400px) {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 15%;
        padding: 10px 40px;
      }

      .content-2{
        font-size: 40pt;
        text-align: left;
        padding: 0px 40px;
      }

      .content-3{
        font-size: 23pt;
        text-align: left;
      }

      .content-4{
        text-align: left;
      }

      .content-5{
        font-size: 16pt;
        text-align: left;
        padding: 5px 40px;
      }
  }


  @media only screen and (min-width: 1920px) {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 13%;
        padding: 10px 40px;
      }

      .content-2{
        font-size: 40pt;
        text-align: left;
        padding: 20px 40px;
      }

      .content-3{
        font-size: 23pt;
        text-align: left;
      }

      .content-4{
        text-align: left;
      }

      .content-5{
        font-size: 16pt;
        text-align: left;
        padding: 5px 40px;
      }
  }

